/*全局样式表，用来初始化css*/

html,body,#app{
    height: 100%;
    margin:0;
    padding: 0;
    border: 0;
    min-width: 1366px;
}

.el-breadcrumb{
    margin-bottom: 15px;
    font-size:15px ;
    
}

.el-pagination{
    align-self: center;
}
